# $Id: NAMESPACE 11 2010-04-03 18:54:20Z mariotomo $
export(loglevels,
       logfinest,
       logfiner,
       logfine,
       logdebug,
       loginfo,
       logwarn,
       logerror,
       levellog,
       basicConfig,
       getLogger,
       addHandler,
       removeHandler,
       setLevel,
       writeToFile,
       writeToConsole
       )
